---
import Layout from "@/layouts/DefaultLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { Container } from "@/components/ui/container";

export async function getStaticPaths() {
	const newsEntries = await getCollection("roseto-docs");
	
	return newsEntries.map((entry) => ({
		params: {
			slug: entry.slug,
		},
		props: {
			entry
		}
	}));
}

interface Props {
	entry: CollectionEntry<"docs">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
	<Container>
		<h1 class="text-5xl font-bold">{entry.data.title}</h1>
		<div class="prose dark:prose-invert">
			<Content />
		</div>
	</Container>
</Layout>
