---
import Layout from "@/layouts/DefaultLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { Container } from "@/components/ui/container";

export async function getStaticPaths() {
	const guidesEntries = await getCollection("guides");
	
	return guidesEntries.map((entry) => ({
		params: {
			category: entry.data.category.id,
			slug: entry.slug.replace(entry.data.category.id + "/", "")
		},
		props: {
			entry
		}
	}));
}

interface Props {
	entry: CollectionEntry<"guides">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
	<Container>
		<h1 class="text-5xl font-bold">{entry.data.title}</h1>
		<div class="prose dark:prose-invert">
			<Content />
		</div>
	</Container>
</Layout>
