---
import { Container } from "@/components/ui/container";
import Layout from "@/layouts/DefaultLayout.astro";
import { Stack } from "@/components/ui/stack";
import { Card, CardContent } from "@/components/ui/card";
import { getCollection } from "astro:content";

const categories = await getCollection("categories");
---

<Layout 
	title="Home"
>
	<Container>
		<Stack>
			<h1 class="text-5xl font-bold">Home</h1>
			<div
				class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-8"
			>
				{categories.map((category) => (
					<a
						href={category.data.disabled ? undefined : "/" + category.id}
					>
						<Card
							className={`h-full ${category.data.disabled ? "opacity-50" : ""}`}
						>
							<CardContent className="mt-8">
								<h2 
									class="text-7xl font-bold"
								>
									{category.data.emoji}
								</h2>
								<h2 class="text-2xl font-bold mt-4" transition:name={category.data.name}>{category.data.name}</h2>
								{category.data.disabled && (
									<p class="text-sm mt-2">
										Coming soon
									</p>
								)}
							</CardContent>
						</Card>
					</a>
				))}
			</div>
		</Stack>
	</Container>
</Layout>
