---
import Layout from "@/layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { Container } from "@/components/ui/container";

export async function getStaticPaths() {
	const infoEntries = await getCollection("info");
	
	return infoEntries.map((entry) => ({
		params: {
			slug: entry.slug,
		},
		props: {
			entry
		}
	}));
}

interface Props {
	entry: CollectionEntry<"info">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
	<Container>
		<h1 class="text-5xl font-bold" transition:name={entry.id + "title"}>{entry.data.title}</h1>
		<div class="prose dark:prose-invert">
			<Content />
		</div>
	</Container>
</Layout>
