---
import { Image } from "@astrojs/image/components";
import { Container } from "@/components/ui/container";
import Layout from "@/layouts/SpaceLayout.astro";
import { getApp } from "@/lib/firebase/server";
import { getSpace } from "@/lib/firebase/server";

const app = getApp();

if (!Astro.params.space) {
	return Astro.redirect("/");
}

const space = await getSpace(app, Astro.params.space);

if (!space) {
	return new Response(null, {
		status: 404,
		statusText: "Not Found",
	})
}
---

<Layout 
	title={space?.name || ""}
>
	<Container
		style={{
			textAlign: "center",
			alignItems: "center",
		}}
		className="flex flex-col gap-2"
	>
		<h1
			class="text-4xl font-bold"
		>
			{space.name}
		</h1>
		<Image
			src={space.photoUrl}
			class="rounded-full"
			alt={space.name}
			width={200}
			height={200}
		/>
		<p
			class="text-muted-foreground"
		>
			{space.description}
		</p>
	</Container>
</Layout>
