---
import { Card, CardHeader, CardTitle, CardContent, CardDescription } from "@/components/ui/card";
import { Container } from "@/components/ui/container";
import { Stack } from "@/components/ui/stack";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Contact">
	<Container>
		<Stack>
			<h1
				class="text-7xl font-bold"
			>
				Contact
			</h1>
			<p>Feel free to contact us at <a class="underline" href="mailto:hello@roseto.co">hello@roseto.co</a>.</p>

			<p>You can also contact our team here:</p>
			<a href="https://docs.roseto.co/about/roseto-collective-members" target="_blank">
				<Card>
					<CardHeader>
						<CardTitle>
							Roseto Collective Members
						</CardTitle>
					</CardHeader>
					<CardContent>
						<CardDescription>
							https://docs.roseto.co/about/roseto-collective-members
						</CardDescription>
					</CardContent>
				</Card>
			</a>

			<p>
				You can also reach us at <a class="underline" href="https://instagram.com/rosetocollective">Instagram</a> or <a class="underline" href="https://facebook.com/rosetocollective">Facebook</a>.
			</p>
		</Stack>
	</Container>
</Layout>
