---
import { Container } from "@/components/ui/container";
import { Stack } from "@/components/ui/stack";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Contact">
	<Container>
		<Stack>
			<h1
				class="text-5xl font-bold"
			>
				Contact
			</h1>
			<p>Feel free to contact us at <a class="underline" href="mailto:hello@roseto.space">hello@roseto.space</a>.</p>

			<p>You can also contact our team via our email addresses:</p>
			<p>Savin Angel-Mario: <a class="underline" href="mailto:mario@roseto.space">mario@roseto.space</a></p>
			<p>Chiru Liviu Alexandru: <a class="underline" href="mailto:liviu@roseto.space">liviu@roseto.space</a></p>
			<p>Malaika Mary Michael: <a class="underline" href="mailto:mary@roseto.space">mary@roseto.space</a></p>
			<p>Visinoschi Adrian: <a class="underline" href="mailto:adrian@roseto.space">adrian@roseto.space</a></p>
			<p>Ianco Mihaela: <a class="underline" href="mailto:mihaela@roseto.space">mihaela@roseto.space</a></p>

			<p>
				You can also reach us at <a class="underline" href="https://instagram.com/rosetoteam">Instagram</a> or <a class="underline" href="https://facebook.com/rosetoteam">Facebook</a>.
			</p>
		</Stack>
	</Container>
</Layout>
