---
import { Container } from "@/components/ui/container";
import { Stack } from "@/components/ui/stack";
import Layout from "@/layouts/DefaultLayout.astro";
---

<Layout title="Contact">
	<Container>
		<Stack>
			<h1
				class="text-5xl font-bold"
			>
				Contact
			</h1>
			<p>Feel free to contact us at <a class="underline" href="mailto:hello@roseto.space">hello@roseto.space</a>.</p>

			<p>
				You can also reach us at <a class="underline" href="https://instagram.com/rosetoteam">Instagram</a> or <a class="underline" href="https://facebook.com/rosetoteam">Facebook</a>.
			</p>
		</Stack>
	</Container>
</Layout>
