---
import Layout from "@/layouts/Layout.astro"
import { Container } from "@/components/ui/container";
import { Stack } from "@/components/ui/stack";
import { DoubleArrowDownIcon, FrameIcon, GlobeIcon, LockOpen2Icon, MagicWandIcon, RocketIcon } from "@radix-ui/react-icons"; 
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "@/components/ui/card";
import Contributors from "@/components/Contributors.astro";
import Tiers from "@/components/Tiers.astro";
import ProjectList from "@/components/ProjectList.astro";
import { Button } from "@/components/ui/button";
import { Progress } from "@/components/ui/progress";
import Partnerships from "@/components/Partnerships.astro";
import Supporters from "@/components/Supporters.astro";
---

<style scoped>
	#bkg-blob::before {
		content: "";
		position: absolute;
		aspect-ratio: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 60vw;
		height: 60vw;
		max-width: 300px;
		max-height: 300px;
		background: linear-gradient(90deg, hsl(var(--primary)) 0%, hsl(var(--secondary)) 100%);
		border-radius: 50%;
		animation: blob 15s infinite linear;
		filter: blur(32px);
	}

	@media (prefers-color-scheme: dark) {
		#bkg-blob::before {
			opacity: 0.5;
		}
	}


	@keyframes blob {
		0% {
			transform: translate(-45%, -55%) rotate(0deg) scale(1);
		}
		50% {
			transform: translate(-50%, -50%) rotate(180deg) scale(1.2, 0.8);
		}
		100% {
			transform: translate(-45%, -55%) rotate(360deg) scale(1);
		}
	}
</style>

<Layout 
	title="Welcome"
	navbar={{
		buttons: [
			{
				text: "Verify diploma",
				href: "/verify"
			},
			{
				text: "Docs",
				href: "https://docs.roseto.space",
				target: "_blank"
			}
		]
	}}
>
	<div id="bkg-blob">
		<Container>
			<Stack className="relative h-[80vh] justify-center items-center text-center">
				<h1 class="text-5xl md:text-7xl font-bold">
					<span
						class="bg-clip-text text-primary"
					>
						Growing
					</span> is a necessity, not an option.
				</h1>
				<p>
					The self-improvement space you need.
				</p>
				<div
					class="absolute bottom-0 opacity-50 flex flex-col items-center justify-center"
				>
					<DoubleArrowDownIcon className="animate-bounce" />
					<p
						class="text-sm font-bold"
					>Sounds good? Scroll down.</p>
				</div>
			</Stack>
		</Container>
	</div>

	<Container>
		<Stack className="mt-8">
			<h2
				class="text-4xl font-bold text-center"
			>
				What happened to Profiteri (Ciorogarla Unita)?
			</h2>
			
			<Card>
				<CardContent className="mt-6">
					<p>
						We decided to invest more time and effort into Profiteri (Ciorogarla Unita) and make it more
						than just a collective of people. We want to make it a community, a network of people that
						share the same values and beliefs.
					</p>
				</CardContent>
			</Card>
		</Stack>
	</Container>
	<Container
		className="bg-gradient-to-b from-primary to-secondary rounded-xl mt-8"
	>
		<h2
			class="text-4xl font-bold text-center text-primary-foreground py-8"
		>
			Projects
		</h2>
		<ProjectList />
		<a href="/projects">
			<Button variant="outline" className="w-full mb-4 text-black border-black">
				See all projects
			</Button>
		</a>
	</Container>
	<Container>
		<Stack className="mt-8">
			<Partnerships />
			<Supporters />

			<h2
				class="text-4xl font-bold text-center mt-4"
			>
				Why <span class="text-primary">Roseto</span>?
			</h2>
			<div class="grid grid-cols-2 gap-2 justify-center">
				<Card>
					<CardContent className="flex flex-col text-center items-center mt-8">
						<FrameIcon
							className="w-20 h-20 hover:scale-110 hover:text-primary transition-all duration-300 ease-in-out"
						/>
						<CardTitle className="mt-2 text-2xl">
							Solid foundation
						</CardTitle>
						<CardDescription>
							We are built on privacy, security, freedom, sustainability, development, and community.
						</CardDescription>
					</CardContent>
				</Card>

				<Card>
					<CardContent className="flex flex-col text-center items-center mt-8">
						<LockOpen2Icon
							className="w-20 h-20 hover:scale-110 hover:text-primary transition-all duration-300 ease-in-out"
						/>
						<CardTitle className="mt-2 text-2xl">
							Open
						</CardTitle>
						<CardDescription>
							We are as open as possible. From our code, to the money we make, to our plans.
						</CardDescription>
					</CardContent>
				</Card>

				<Card>
					<CardContent className="flex flex-col text-center items-center mt-8">
						<GlobeIcon
							className="w-20 h-20 hover:scale-110 hover:text-primary transition-all duration-300 ease-in-out"
						/>
						<CardTitle className="mt-2 text-2xl">
							Everwhere
						</CardTitle>
						<CardDescription>
							While we are based in Romania, we are doing our best to extend our reach to the entire world.
						</CardDescription>
					</CardContent>
				</Card>

				<Card>
					<CardContent className="flex flex-col text-center items-center mt-8">
						<RocketIcon
							className="w-20 h-20 hover:scale-110 hover:text-primary transition-all duration-300 ease-in-out"
						/>
						<CardTitle className="mt-2 text-2xl">
							Forward-thinking
						</CardTitle>
						<CardDescription>
							We are always looking for new ways to improve our services and the way we do things.
						</CardDescription>
					</CardContent>
				</Card>
			</div>

		</Stack>
	</Container>

	<Tiers />

	<Container>
		<Stack className="relative mt-4">
			<div
				class="sticky h-16 top-4 z-40 mx-2 p-2 border border-muted rounded bg-background/90 backdrop-filter backdrop-blur-sm"
			>
				<h2
					class="text-2xl md:text-5xl font-bold text-center mb-2"
				>
					<span class="text-primary">Roseto</span>'s Mission
				</h2>
				<Progress 
					id="mission-progress"
				/>
			</div>

			<Card id="mission-card-1" className="mt-2">
				<CardContent className="flex flex-col text-center items-center mt-8">
					<img src="/static/engineering_team.svg" alt="Engineering Team" class="w-full h-64" />
					<CardDescription>
						Build and maintain open-source software, tools, and services that help people and businesses.
					</CardDescription>
				</CardContent>
			</Card>

			<Card id="mission-card-2">
				<CardContent className="flex flex-col text-center items-center mt-8">
					<img src="/static/community.svg" alt="Community" class="w-full h-64" />
					<CardDescription>
						Build a community of people that share the same values and beliefs.
					</CardDescription>
				</CardContent>
			</Card>

			<Card id="mission-card-3">
				<CardContent className="flex flex-col text-center items-center mt-8">
					<img src="/static/group_selfie.svg" alt="Group Selfie" class="w-full h-64" />
					<CardDescription>
						Help young people develop their skills and find their passion,
						volunteer and help the community while having fun.
					</CardDescription>
				</CardContent>
			</Card>

			<Card id="mission-card-4">
				<CardContent className="flex flex-col text-center items-center mt-8">
					<img src="/static/business_deal.svg" alt="Business Deal" class="w-full h-64" />
					<CardDescription>
						Help businesses and organizations with their digital transformation and development.
					</CardDescription>
				</CardContent>
			</Card>

			<Card id="mission-card-5">
				<CardContent className="flex flex-col text-center items-center mt-8">
					<img src="/static/group_hangout.svg" alt="Group Hangout" class="w-full h-64" />
					<CardDescription>
						Connect people together and help them grow and develop their skills.
					</CardDescription>
				</CardContent>
			</Card>

			<h2
				class="text-4xl font-bold text-center mt-8 mb-20"
			>
				And we are not stopping here.
			</h2>
		</Stack>
	</Container>

	<Container>
		<Stack>
			<Contributors />

			<!--
			<h2
				class="text-4xl font-bold text-center mt-8"
			>
				<span class="bg-clip-text text-transparent bg-gradient-to-b from-primary to-secondary">Where</span> is Roseto?
			</h2>
			<p
				class="text-center"
			>
				Everywhere. This way you can access Roseto from anywhere pretty fast.
			</p>

			<img 
				src="/static/global-network.svg"
				alt="Cloudflare Workers"
				class="w-full"
			/>
			-->

			<Card>
				<CardHeader>
					<CardTitle>
						About
					</CardTitle>
					<CardDescription>
						Roseto is a dynamic and forward-thinking group committed
						to empowering the youth while fostering the digital transformation 
						of local communities and businesses. With a passion for innovation
						and community development, we strive to bridge the gap between
						technology and local needs, ensuring that the younger generation
						has the tools and opportunities they need to thrive in today's
						digital age. Join us in our mission to create a brighter, more
						connected future for all.
					</CardDescription>
				</CardHeader>
			</Card>
		</Stack>
	</Container>
</Layout>

<script>
	const missions = document.querySelectorAll("[id^=mission-card-]");

	// See how many steps we have
	const steps = missions.length;

	const missionTops = Array.from(missions).map((mission) => {
		return mission.getBoundingClientRect().top;
	});

	document.addEventListener("scroll", () => {
		const missionProgress = document.querySelector("#mission-progress > div") as HTMLElement;
		// Get the current scroll position
		const scrollPosition = window.scrollY;

		// Get the current mission
		const currentMission = missionTops.findIndex((top) => {
			return top > scrollPosition;
		});

		// Get the current progress
		const currentProgress = (currentMission / steps) * 100;

		// Using Math, make 100 - currentProgress and make sure we don't go above 95%
		const calculatedProgress = 100 - currentProgress > 100 ? 10 : 100 - currentProgress;

		// Update the progress bar
		missionProgress.style.transform = `translateX(-${calculatedProgress}%)`;
	});
</script>