---
import Layout from "@/layouts/Layout.astro"
import { Container } from "@/components/ui/container";
import { Stack } from "@/components/ui/stack";
import { DoubleArrowDownIcon, FrameIcon, GlobeIcon, LockOpen2Icon, MagicWandIcon } from "@radix-ui/react-icons"; 
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "@/components/ui/card";
import Contributors from "@/components/Contributors.astro";
import Tiers from "@/components/Tiers.astro";
import ProjectList from "@/components/ProjectList.astro";
import { Button } from "@/components/ui/button";
import Partnerships from "@/components/Partnerships.astro";
import Supporters from "@/components/Supporters.astro";
---

<style scoped>
	#bkg-blob::before {
		content: "";
		position: absolute;
		aspect-ratio: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 60vw;
		height: 60vw;
		max-width: 300px;
		max-height: 300px;
		background: linear-gradient(90deg, hsl(var(--primary)) 0%, hsl(var(--secondary)) 100%);
		border-radius: 50%;
		animation: blob 15s infinite linear;
		filter: blur(32px);
	}

	@media (prefers-color-scheme: dark) {
		#bkg-blob::before {
			opacity: 0.5;
		}
	}


	@keyframes blob {
		0% {
			transform: translate(-45%, -55%) rotate(0deg) scale(1);
		}
		50% {
			transform: translate(-50%, -50%) rotate(180deg) scale(1.2, 0.8);
		}
		100% {
			transform: translate(-45%, -55%) rotate(360deg) scale(1);
		}
	}
</style>

<Layout 
	title="Welcome"
	navbar={{
		buttons: [
			{
				text: "Verify diploma",
				href: "/verify"
			},
			{
				text: "Docs",
				href: "https://docs.roseto.space",
				target: "_blank"
			}
		]
	}}
>
	<div id="bkg-blob">
		<Container>
			<Stack className="relative h-[80vh] justify-center items-center text-center">
				<h1 class="text-5xl md:text-7xl font-bold">
					<span
						class="bg-clip-text text-primary"
					>
						Growing
					</span> is a necessity, not an option.
				</h1>
				<p>
					The self-improvement space you need.
				</p>
				<div
					class="absolute bottom-0 opacity-50 flex flex-col items-center justify-center"
				>
					<DoubleArrowDownIcon className="animate-bounce" />
					<p
						class="text-sm font-bold"
					>Sounds good? Scroll down.</p>
				</div>
			</Stack>
		</Container>
	</div>

	<Container>
		<Stack className="mt-8">
			<h2
				class="text-4xl font-bold text-center"
			>
				What happened to Profiteri (Ciorogarla Unita)?
			</h2>
			
			<Card>
				<CardContent className="mt-6">
					<p>
						We decided to invest more time and effort into Profiteri (Ciorogarla Unita) and make it more
						than just a collective of people. We want to make it a community, a network of people that
						share the same values and beliefs.
					</p>
				</CardContent>
			</Card>
		</Stack>
	</Container>
	<Container
		className="bg-gradient-to-b from-primary to-secondary rounded-xl mt-8"
	>
		<h2
			class="text-4xl font-bold text-center text-primary-foreground py-8"
		>
			Projects
		</h2>
		<ProjectList />
		<a href="/projects">
			<Button variant="outline" className="w-full mb-4 text-black border-black">
				See all projects
			</Button>
		</a>
	</Container>
	<Container>
		<Stack className="mt-8">
			<Partnerships />
			<Supporters />

			<h2
				class="text-4xl font-bold text-center mt-4"
			>
				Why <span class="bg-clip-text text-transparent bg-primary">Roseto</span>?
			</h2>
			<div class="grid grid-cols-2 gap-2 justify-center">
				<Card>
					<CardContent className="flex flex-col text-center items-center mt-8">
						<FrameIcon
							className="w-20 h-20 hover:scale-110 hover:text-primary transition-all duration-300 ease-in-out"
						/>
						<CardTitle className="mt-2 text-2xl">
							Solid foundation
						</CardTitle>
						<CardDescription>
							We are built on privacy, security, freedom, sustainability, development, and community.
						</CardDescription>
					</CardContent>
				</Card>

				<Card>
					<CardContent className="flex flex-col text-center items-center mt-8">
						<LockOpen2Icon
							className="w-20 h-20 hover:scale-110 hover:text-primary transition-all duration-300 ease-in-out"
						/>
						<CardTitle className="mt-2 text-2xl">
							Open
						</CardTitle>
						<CardDescription>
							We are as open as possible. From our code, to the money we make, to our plans.
						</CardDescription>
					</CardContent>
				</Card>

				<Card>
					<CardContent className="flex flex-col text-center items-center mt-8">
						<GlobeIcon
							className="w-20 h-20 hover:scale-110 hover:text-primary transition-all duration-300 ease-in-out"
						/>
						<CardTitle className="mt-2 text-2xl">
							Everwhere
						</CardTitle>
						<CardDescription>
							While we are based in Romania, we are doing our best to extend our reach to the entire world.
						</CardDescription>
					</CardContent>
				</Card>

				<Card>
					<CardContent className="flex flex-col text-center items-center mt-8">
						<MagicWandIcon
							className="w-20 h-20 hover:scale-110 hover:text-primary transition-all duration-300 ease-in-out"
						/>
						<CardTitle className="mt-2 text-2xl">
							Magical
						</CardTitle>
						<CardDescription>
							We are trying to make the world a better place. We are trying to make magic happen.
						</CardDescription>
					</CardContent>
				</Card>
			</div>

		</Stack>
	</Container>

	<Tiers />

	<Container className="mt-4">
		<Stack>
			<Contributors />

			<!--
			<h2
				class="text-4xl font-bold text-center mt-8"
			>
				<span class="bg-clip-text text-transparent bg-gradient-to-b from-primary to-secondary">Where</span> is Roseto?
			</h2>
			<p
				class="text-center"
			>
				Everywhere. This way you can access Roseto from anywhere pretty fast.
			</p>

			<img 
				src="/static/global-network.svg"
				alt="Cloudflare Workers"
				class="w-full"
			/>
			-->

			<Card>
				<CardHeader>
					<CardTitle>
						About
					</CardTitle>
					<CardDescription>
						Roseto is a dynamic and forward-thinking group committed
						to empowering the youth while fostering the digital transformation 
						of local communities and businesses. With a passion for innovation
						and community development, we strive to bridge the gap between
						technology and local needs, ensuring that the younger generation
						has the tools and opportunities they need to thrive in today's
						digital age. Join us in our mission to create a brighter, more
						connected future for all.
					</CardDescription>
				</CardHeader>
			</Card>
		</Stack>
	</Container>
</Layout>
