---
import Layout from "@/layouts/DefaultLayout.astro"
import { Button } from "@/components/ui/button";
import { Container } from "@/components/ui/container";
import { Stack } from "@/components/ui/stack";

export const prerender = true;
---

<Layout title="Welcome">
	<Container>
		<Stack className="h-96 justify-center items-center text-center">
			<h1 class="text-7xl font-bold">
				Create your space
			</h1>
			<p>
				The easiest way to create website yet.
			</p>
		</Stack>
	</Container>
</Layout>
