---
import Layout from "@/layouts/Layout.astro"
import { Container } from "@/components/ui/container";
import { Stack } from "@/components/ui/stack";
import { DoubleArrowDownIcon, FrameIcon, GlobeIcon, HeartFilledIcon, LockOpen2Icon, RocketIcon } from "@radix-ui/react-icons";
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from "@/components/ui/card";
import Contributors from "@/components/Contributors.astro";
import Tiers from "@/components/Tiers.astro";
import ProjectList from "@/components/ProjectList.astro";
import { Button } from "@/components/ui/button";
import Partnerships from "@/components/Partnerships.astro";
import Specials from "@/components/Specials.astro";
import { getCollection } from "astro:content";
import UpdatesCard from "@/components/UpdatesCard.astro";
import SlideUp from "@/components/SlideUp";
import { Badge } from "@/components/ui/badge";

const countProjects = await getCollection("projects").then((projects) => projects.length);
---


<Layout 
	title="Welcome"
	navbar={{
		buttons: [
			{
				text: "Updates",
				href: "/updates",
			},
			{
				text: "Verify diploma",
				href: "/verify",
				"data-astro-reload": true
			},
			{
				text: "Docs",
				href: "https://docs.roseto.co",
				target: "_blank"
			}
		]
	}}
>
	
	<Container>
		<Stack className="h-[500px] md:h-[80vh] relative justify-center items-center">
			<img 
				src="/static/shapes/rectangles.svg" 
				alt=""
				class="absolute left-0 h-full dark:mix-blend-overlay mix-blend-multiply pointer-events-none"
			/>
			<SlideUp delay={100}>
				<h1 class="text-6xl md:text-9xl font-black">
					<span
						class="bg-clip-text text-primary"
					>
						Growing
					</span> is a necessity, not an option.
				</h1>
			</SlideUp>

			<SlideUp delay={300} className="w-full">
				<p class="text-2xl font-bold w-full text-muted-foreground">
					The self-improvement space you need.
				</p>
			</SlideUp>
			<SlideUp
				delay={1000}
				className="text-muted-foreground absolute bottom-0 flex flex-col items-center justify-center"
			>
				<DoubleArrowDownIcon className="animate-bounce" />
				<p
					class="text-sm font-bold"
				>Sounds good? Scroll down.</p>
			</SlideUp>
		</Stack>
	</Container>


	<Container>
		<Stack className="mt-32">
			<h2
				class="text-4xl font-bold"
			>
				What happened to Profiteri (Ciorogarla Unita)?
			</h2>
			
			<Card>
				<CardContent className="mt-6">
					<p>
						We decided to invest more time and effort into Profiteri (Ciorogarla Unita) and make it more
						than just a collective of people. We want to make it a community, a network of people that
						share the same values and beliefs.
					</p>
				</CardContent>
			</Card>
		</Stack>
	</Container>

	<img 
		src="/static/shapes/wave-secondary.svg" 
		alt=""
		class="w-full h-32 -mb-px pointer-events-none"
	/>
	<div
		class="bg-gradient-to-b from-secondary to-primary relative"
	>
		<Container className="relative">
			<img 
				src="/static/shapes/clover.svg" 
				alt=""
				class="absolute top-1 right-1 opacity-50 h-72 w-72 pointer-events-none"
			/>
			<SlideUp triggerInView client:load>
				<h2
					class="text-6xl font-bold text-secondary-foreground py-8"
				>
					Projects
				</h2>
			</SlideUp>
			<SlideUp delay={100} triggerInView client:load>
				<ProjectList />
			</SlideUp>
			<SlideUp delay={200} triggerInView client:load>
				<a href="/projects">
					<Button variant="outline" className="w-full mb-4 border-primary-foreground hover:border-secondary-foreground">
						See all {countProjects} projects
					</Button>
				</a>
			</SlideUp>
	</Container>
	</div>

	<img 
		src="/static/shapes/wave.svg" 
		alt=""
		class="w-full h-32 rotate-180 -mt-px pointer-events-none"
	/>

	<Container>
		<Stack className="mt-8">
			<div
				class="grid grid-cols-1 md:grid-cols-2 gap-2"
			>
				<SlideUp triggerInView client:load>
					<Partnerships />
				</SlideUp>
				<SlideUp triggerInView delay={200} client:load>
					<Specials />
				</SlideUp>
			</div>

			<h2
				class="text-6xl font-bold mt-4"
			>
				Why <span class="text-primary">Roseto</span>?
			</h2>
			<div class="grid grid-cols-2 gap-2 justify-center relative">
				<SlideUp className="flex flex-col text-center items-center mt-8" triggerInView client:load>
					<FrameIcon
						className="w-20 h-20 hover:scale-110 hover:text-primary transition-all duration-300 ease-in-out"
					/>
					<CardTitle className="mt-2 text-2xl">
						Solid foundation
					</CardTitle>
					<CardDescription>
						We are built on privacy, security, freedom, sustainability, development, and community.
					</CardDescription>
				</SlideUp>

				<SlideUp className="flex flex-col text-center items-center mt-8" delay={100} triggerInView client:load>
					<LockOpen2Icon
						className="w-20 h-20 hover:scale-110 hover:text-primary transition-all duration-300 ease-in-out"
					/>
					<CardTitle className="mt-2 text-2xl">
						Open
					</CardTitle>
					<CardDescription>
						We are as open as possible. From our code, to the money we make, to our plans.
					</CardDescription>
				</SlideUp>

				<SlideUp className="flex flex-col text-center items-center mt-8" delay={100} triggerInView client:load>
					<GlobeIcon
						className="w-20 h-20 hover:scale-110 hover:text-primary transition-all duration-300 ease-in-out"
					/>
					<CardTitle className="mt-2 text-2xl">
						Everwhere
					</CardTitle>
					<CardDescription>
						While we are based in Romania, we are doing our best to extend our reach to the entire world.
					</CardDescription>
				</SlideUp>

				<SlideUp className="flex flex-col text-center items-center mt-8" delay={200} triggerInView client:load>
					<RocketIcon
						className="w-20 h-20 hover:scale-110 hover:text-primary transition-all duration-300 ease-in-out"
					/>
					<CardTitle className="mt-2 text-2xl">
						Forward-thinking
					</CardTitle>
					<CardDescription>
						We are always looking for new ways to improve our services and the way we do things.
					</CardDescription>
				</SlideUp>

				<img 
					src="/static/shapes/blobs.svg" 
					alt=""
					class="absolute left-0 bottom-0 w-64 md:w-full max-w-md h-64 dark:mix-blend-overlay mix-blend-multiply opacity-50 pointer-events-none"
				/>
			</div>

		</Stack>
	</Container>

	<Tiers />

	<div class="relative mt-16">
		<div 
			class="absolute bg-[url(/static/shapes/hex_banner_bkg.svg)] bg-[length:1000px_1000px] opacity-25 top-0 left-0 bottom-0 right-0 w-full pointer-events-none"
			style={{
				maskImage: `linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))`,
				"-webkit-mask-image": `linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))`,
			}}
		/>
		<Container className="relative">
			<Stack>
				<SlideUp client:load triggerInView>
					<h1
						class="text-7xl font-bold"
						transition:name="about-title"
					>
						Learn about Roseto
					</h1>
				</SlideUp>

				<div class="grid grid-cols-1 md:grid-cols-4 gap-2">
					<SlideUp className="md:col-span-2" client:load triggerInView>
						<Card className="h-full">
							<CardHeader className="h-full justify-center items-center">
								<CardTitle className="text-7xl my-auto"><span class="highlight-primary">Grow</span>, Learn, Connect</CardTitle>
							</CardHeader>
						</Card>
					</SlideUp>

					<SlideUp className="md:col-span-2" delay={100} client:load triggerInView>
						<Card className="h-full">
							<CardHeader>
								<Badge className="self-start">
									Definition
								</Badge>
								<CardTitle>Who are we</CardTitle>
							</CardHeader>
							<CardContent>
								Roseto ("Roseto Collective") is a dynamic and forward-thinking group committed to empowering the youth while fostering the digital transformation of local communities and businesses. With a passion for innovation and community development, we strive to bridge the gap between technology and local needs, ensuring that the younger generation has the tools and opportunities they need to thrive in today's digital age. Join us in our mission to create a brighter, more connected future for all.
							</CardContent>
						</Card>
					</SlideUp>

					<SlideUp delay={100} className="md:col-span-1" client:load triggerInView>
						<Card className="h-full bg-green-800 text-white">
							<GlobeIcon 
								className="absolute -bottom-8 -right-8 opacity-25 w-48 h-48"
							/>
							<CardHeader>
								<Badge className="self-start" variant="secondary">
									Sustainability
								</Badge>
							</CardHeader>
							<CardContent>
								<p>
									We are committed to creating a sustainable future for all.
									And we are trying our best to create as less carbon footprint as possible.
									We use renewable energy, static site generators, and only update 
									the content when necessary.
								</p>
							</CardContent>
						</Card>
					</SlideUp>

					<SlideUp delay={200} className="md:col-span-2" client:load triggerInView>
						<Card className="bg-[url(/static/shapes/grid_banner_bkg.svg)] bg-cover bg-center h-full">
							<CardHeader>
								<Badge className="self-start">
									Mission
								</Badge>
								<CardTitle>Digitalize, evolve, grow together</CardTitle>
							</CardHeader>
							<CardContent>
								<p>
									We are on a mission to digitalize the world, evolve the communities, and grow together.
									We are trying to make the world a better place for everyone.
								</p>
							</CardContent>
						</Card>
					</SlideUp>

					<SlideUp delay={300} className="md:col-span-1 md:row-span-2" client:load triggerInView>
						<UpdatesCard />
					</SlideUp>

					<SlideUp className="md:col-span-2" delay={100} client:load triggerInView>
						<Contributors className="h-full"/>
					</SlideUp>

					<SlideUp className="md:col-span-1" client:load triggerInView delay={200}>
						<Card className="h-full">
							<HeartFilledIcon 
								className="animate-pulse text-primary absolute -bottom-8 -right-8 opacity-25 w-48 h-48"
							/>
							<CardHeader className="relative">
								<Badge className="self-start">
									It's you
								</Badge>
								<CardTitle className="text-6xl">
									We really <span class="highlight-primary">love</span> you.
								</CardTitle>
							</CardHeader>
						</Card>
					</SlideUp>

					<SlideUp className="md:col-span-1" client:load triggerInView delay={100}>
						<Card className="h-full">
							<CardHeader>
								<Badge className="self-start">
									Collective
								</Badge>
								<CardTitle className="text-6xl">
									We are a collective
								</CardTitle>
							</CardHeader>
							<CardContent>
								<p>
									We love to work with each other and we love the informal environment we have created.
									That's why we are not a non-profit organization, we are a collective. We function
									mostly the same way, with the aid of <a href="https://www.oceurope.org/" class="text-primary hover:underline" target="_blank">Open Collective Europe</a>.
								</p>
							</CardContent>
						</Card>
					</SlideUp>


					<SlideUp className="md:col-span-3 h-96" client:load triggerInView delay={200}>
						<Card className="h-full">
							<img 
								src="/static/community.svg"
								class="w-full h-full object-cover"
							/>
						</Card>
					</SlideUp>
				</div>
			</Stack>
		</Container>
	</div>
</Layout>
