---
import { readFile } from "fs/promises";
import { marked } from "marked";
import Layout from "@/layouts/Layout.astro";
import { Stack } from "@/components/ui/stack";
import { Container } from "@/components/ui/container";
import { Button } from "@/components/ui/button";
import { DownloadIcon } from "@radix-ui/react-icons";
import { Card } from "@/components/ui/card";

const license = await readFile("./LICENSE.md", "utf-8");
const content = marked.parse(license);
---

<Layout title="License">
	<Container>
		<Stack>
			<h1
				class="text-5xl font-bold"
			>
				License
			</h1>

			<p>
				Roseto © 2023 is licensed under CC BY-NC-SA 4.0.
				
				<a
					href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
					class="hover:underline text-primary"
					target="_blank"
				>
				See a copy of the license here.
				</a>
			</p>
			<p>
				This license requires that reusers give credit to the creator. 
				It allows reusers to distribute, remix, adapt, and build upon the material in any medium or format, 
				for noncommercial purposes only. If others modify or adapt the material, 
				they must license the modified material under identical terms.
			</p>

			<p>
				Attributions should be given to "Roseto Group".
			</p>

			<Card className="p-4">
				<code class="prose dark:prose-invert" set:html={content}/>
			</Card>
		</Stack>
	</Container>
</Layout>
