---
import { readFile } from "fs/promises";
import { marked } from "marked";
import Layout from "@/layouts/Layout.astro";
import { Stack } from "@/components/ui/stack";
import { Container } from "@/components/ui/container";
import { Button } from "@/components/ui/button";
import { DownloadIcon } from "@radix-ui/react-icons";
import { Card } from "@/components/ui/card";

const license = await readFile("./LICENSE", "utf-8");
const content = marked.parse(license);
---

<Layout title="License">
	<Container>
		<Stack>
			<h1
				class="text-5xl font-bold"
			>
				License
			</h1>

			<p>
				Roseto's code and resources is licensed under the MIT license. 
				We are still working on transfering all code and resources created by
				Roseto to this license. If you'd like you can download this license locally.
			</p>

			<Card className="p-4">
				<code class="prose dark:prose-invert" set:html={content}/>
			</Card>
			<a
				href={"data:text/plain;charset=utf-8," + encodeURIComponent(license)}
				download="license.txt"
			>
				<Button
					variant="secondary"	
				>
					<DownloadIcon className="mr-2 w-4 h-4"/>
					Download license
				</Button>
			</a>
		</Stack>
	</Container>
</Layout>
