---
import { getApp, getUser, getSpace } from "@/lib/firebase/server";
import Layout from "@/layouts/AppLayout.astro";
import { Container } from "@/components/ui/container";
import { Stack } from "@/components/ui/stack";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import { Button } from "@/components/ui/button";

const app = getApp();

const user = await getUser(app, Astro.cookies);

if (!user) {
	return Astro.redirect("/login");
}

const space = await getSpace(app, Astro.cookies);

if (space) {
	return Astro.redirect("/" + space.username);
}
---

<Layout
	title="Create a space"
>
	<Container>
		<Stack>
			<h1
				class="text-4xl font-bold"
			>
				Create a <span class="text-primary">space</span>
			</h1>
			<form
				id="form"
			>
				<Label
					htmlFor="form-name"
				>
					Name
				</Label>
				<Input
					id="form-name"
					type="text"
					name="name"
					placeholder="Your name"
					required
					className="mb-4"
				/>
				<Label
					htmlFor="form-username"
				>
					Username
				</Label>
				<Input
					id="form-username"
					type="text"
					name="username"
					placeholder="my-space"
					required
					className="mb-4"
				/>
				<Label
					htmlFor="form-avatar"
				>
					Avatar
				</Label>
				<div
					class="mb-4"
				>
					<input
						id="form-avatar"
						name="avatar"
						type="file"
						accept="image/*"
						required
					/>
				</div>
				<Button
					type="submit"
					className="w-full"
				>
					Create
				</Button>
		</Stack>
	</Container>
</Layout>

<script>
	// Handle form submission
	// and file upload
	// upload the file to the server
	// convert it to a base64 string
	const form = document.getElementById("form") as HTMLFormElement;

	form.addEventListener("submit", async (event) => {
		event.preventDefault();

		const file = (form.elements.namedItem("avatar") as HTMLInputElement).files?.[0];

		if (!file) {
			return;
		}

		const reader = new FileReader();

		reader.readAsDataURL(file);

		reader.onload = async () => {
			const data = {
				name: (form.elements.namedItem("name") as HTMLInputElement).value,
				username: (form.elements.namedItem("username") as HTMLInputElement).value,
				avatar: reader.result,
			};

			const response = await fetch("/api/spaces/create", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(data),
			});

			if (response.ok) {
				window.location.href = "/" + data.username;
			}
		};
	});
</script>
