---
import { readFile } from "fs/promises";
import { marked } from "marked";
import Layout from "@/layouts/Layout.astro";
import { Stack } from "@/components/ui/stack";
import { Container } from "@/components/ui/container";

let privacy = await readFile("./PRIVACY.md", "utf-8");
privacy = privacy.replace(/^.+\n/, "");
const content = marked.parse(privacy);
---

<Layout title="Privacy Policy">
	<Container>
		<Stack>
			<h1
				class="text-7xl font-bold"
			>
				Privacy
			</h1>

			<div class="prose dark:prose-invert max-w-none" set:html={content} />
		</Stack>
	</Container>
</Layout>
