---
import { Container } from "@/components/ui/container";
import Layout from "@/layouts/AppLayout.astro";
import { getApp } from "@/lib/firebase/server";
import { getSpace } from "@/lib/firebase/server";

const app = getApp();

const space = await getSpace(app, Astro.cookies, Astro.params.space);
---

<Layout title={space?.name || ""}>
	<Container>
		<h1>{space?.name}</h1>
		<img
			src={space?.photoUrl}
			alt={space?.name}
			width="200"
			height="200"
		/>
	</Container>
</Layout>
