---
import { GlobeIcon } from "@radix-ui/react-icons";
import { Badge } from "./ui/badge";

// We track this number manually

let percentage: number;
const res = await fetch("https://api.websitecarbon.com/site?url=https://roseto.space");



if (res.ok) {
	const data = await res.json();

	percentage = data.cleanerThan * 100;
} else {
	throw new Error("Could not fetch carbon footprint")
}
---


<a
	href="https://websitecarbon.com/website/roseto.space"
	target="_blank"
	rel="noopener noreferrer"
>
	<Badge
		variant="outline"
		className="border-muted-foreground"
	>
		<GlobeIcon className="mr-2" />
		<p>
			Cleaner than <strong>~{percentage}% of all websites</strong> 
		</p>
	</Badge>
</a>
