---
import { GlobeIcon } from "@radix-ui/react-icons";
import { Badge } from "./ui/badge";

let percentage: number;
let rating: string
const res = await fetch("https://api.websitecarbon.com/site?url=https://roseto.space")


if (res.ok) {
	const data = await res.json();

	percentage = data.cleanerThan * 100;
	rating = data.rating;
} else {
	// Fallback
	// Last checked on 3/10/2023
	percentage = 93;
	rating = "A+";
}
---


<a
	href="https://websitecarbon.com/website/roseto.space"
	target="_blank"
	rel="noopener noreferrer"
>
	<Badge
		variant="outline"
		className="border-muted-foreground"
	>
		<GlobeIcon className="mr-2" />
		<p>
			Cleaner than <strong>~{percentage}% of all websites</strong>
		</p>
	</Badge>
</a>

<a
	href="https://websitecarbon.com/website/roseto.space"
	target="_blank"
	rel="noopener noreferrer"
>
	<Badge
		variant="outline"
		className="border-muted-foreground"
	>
		<p>
			<b class="mx-1">{rating}</b> Carbon Rating
		</p>
	</Badge>
</a>
