---
import { getCollection } from "astro:content";
import { Card, CardContent, CardHeader, CardDescription, CardTitle } from "./ui/card";
import { Button } from "./ui/button";
import { Image } from "astro:assets";


const { className } = Astro.props;
const contributors = await getCollection("contributors")
---

<Card className={className}>
	<CardHeader>
		<CardTitle>
			Our Contributors
		</CardTitle>
		<CardDescription>
			These are the people who have contributed to the Roseto's mission.
		</CardDescription>
	</CardHeader>

	<CardContent>
		<div class="flex flex-wrap flex-row gap-4 items-center">
			{contributors.map((contributor) => (
				<a
					href={contributor.data.link}
					target="_blank"
					rel="noopener noreferrer"
				>
					<Image
						class="rounded-full w-16 h-16 object-cover"
						src={contributor.data.avatar}
						alt={contributor.data.name}
					/>
				</a>
			))}
		</div>
		<a
			href="/contributors"
		>
			<Button
				variant="outline"
				className="w-full mt-4"
			>
				See all contributors
			</Button>
		</a>
	</CardContent>
</Card>
