---
import { Separator } from "@/components/ui/separator";
import CarbonBadge from "@/components/CarbonBadge.astro";
import { Card, CardContent } from "./ui/card";
import { Container } from "./ui/container";
import { Hint } from "./ui/hint";
import { Image } from "astro:assets";
import { EnvelopeClosedIcon } from "@radix-ui/react-icons";

const currentYear = new Date().getFullYear();

interface Props {
	commitHash: string;
}

const { commitHash } = Astro.props;
---


<img
	src="/static/shapes/wave-secondary.svg"
	alt=""
	loading="lazy"
	width="100%"
	height="64px"
	class="mt-8 h-32 w-full -mb-px pointer-events-none drop-shadow-[0_16px_32px_hsl(var(--secondary))]"
/>
<footer
	class="pb-4 bg-gradient-to-b from-secondary via-primary to-primary"
>
	<Container>
		<Card className="w-full bg-gradient-to-t from-primary/30 dark:from-primary/10 via-transparent">
			<CardContent className="mt-6 flex flex-col space-y-2">
				<p>
					&copy; { currentYear } Roseto &middot; All rights reserved.
				</p>
				
				<CarbonBadge />
			
				<div class="flex flex-row gap-16 py-4">
					<div class="flex flex-col">
						<p class="mb-1 text-xl">Open</p>
						<!-- Due to how Cloudflare Workers handles requests, we have to force reload the page when we navigate to it since it is server rendered -->
						<a href="/verify-diploma" class="text-muted-foreground hover:underline">
							Verify diploma
						</a>

						<a href="/open-source" class="text-muted-foreground hover:underline">
							Open source
						</a>
					</div>

					<div class="flex flex-col">
						<p class="mb-1 text-xl">About</p>
						<a href="/updates" class="text-muted-foreground hover:underline">
							Updates
						</a>

						<a href="/contact" class="text-muted-foreground hover:underline">
							Contact
						</a>
					</div>
	
					<div class="flex flex-col">
						<p class="mb-1 text-xl">Legal</p>
						<a href="/privacy" class="text-muted-foreground hover:underline">
							Privacy Policy
						</a>
						<a href="/license" class="text-muted-foreground hover:underline">
							License
						</a>
						<a href="/code" class="text-muted-foreground hover:underline">
							Code of Conduct
						</a>
					</div>
				</div>
			
				<div class="mt-2 flex flex-row items-center h-6 gap-4">
					<a 
						href="https://facebook.com/rosetodotdev"
						target="_blank"
						rel="noopener noreferrer"
					>
						<Image 
							width={24}
							height={24}
							loading="eager" 
							src="https://cdn.simpleicons.org/facebook/000000/ffffff" 
							alt="Facebook"
							class="w-6 h-6 fill-muted-foreground"
						/>
					</a>
			
					<Separator orientation="vertical" className="bg-muted-foreground" />
			
					<a 
						href="https://instagram.com/rosetodotdev"
						target="_blank"
						rel="noopener noreferrer"
					>
						<Image 
							width={24}
							height={24}
							loading="eager" 
							src="https://cdn.simpleicons.org/instagram/000000/ffffff"
							alt="Instagram"
							class="w-6 h-6 fill-muted-foreground"
						/>
					</a>
			
					<Separator orientation="vertical" className="bg-muted-foreground" />
			
					<a 
						href="https://github.com/roseto"
						target="_blank"
						rel="noopener noreferrer"
					>
						<Image 
							width={24}
							height={24} 
							loading="eager" 
							src="https://cdn.simpleicons.org/github/000000/ffffff" 
							alt="GitHub"
							class="w-6 h-6 fill-muted-foreground"
						/>
					</a>

					<Separator orientation="vertical" className="bg-muted-foreground" />

					<a 
						href="https://opencollective.com/roseto"
						target="_blank"
						rel="noopener noreferrer"
					>
						<Image 
							width={24}
							height={24} 
							loading="eager" 
							src="https://cdn.simpleicons.org/opencollective/000000/ffffff" 
							alt="Open Collective"
							class="w-6 h-6 fill-muted-foreground"
						/>
					</a>

					<Separator orientation="vertical" className="bg-muted-foreground" />

					<a class="flex items-center gap-2" href="mailto:hello@roseto.co">
						<EnvelopeClosedIcon className="inline w-6 h-6" />
						<span class="underline">hello@roseto.dev</span>
					</a>
				</div>

				<Hint>
					Version: <code class="bg-muted text-muted-foreground">{commitHash}</code>
				</Hint>

			</CardContent>
		</Card>
	</Container>
</footer>
