---
import { Separator } from "@/components/ui/separator";
---


<footer
	class="flex flex-col gap-2 p-4 bg-muted rounded-t mt-8"
>
	<p>
		&copy; Roseto
	</p>
	<div class="flex flex-row items-center h-6 gap-4">
		<a 
			href="https://github.com/roseto"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img 
				src="https://cdn.simpleicons.org/github/000000/ffffff" 
				alt="GitHub"
				class="w-6 h-6 fill-muted-foreground"
			/>
		</a>

		<Separator orientation="vertical" className="bg-muted-foreground" />

		<a 
			href="https://facebook.com/rosetospace"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img 
				src="https://cdn.simpleicons.org/facebook/000000/ffffff" 
				alt="Facebook"
				class="w-6 h-6 fill-muted-foreground"
			/>
		</a>

		<Separator orientation="vertical" className="bg-muted-foreground" />

		<a 
			href="https://instagram.com/rosetodotspace"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img 
				src="https://cdn.simpleicons.org/instagram/000000/ffffff" 
				alt="Instagram"
				class="w-6 h-6 fill-muted-foreground"
			/>
		</a>
	</div>
</footer>
