---
import { Separator } from "@/components/ui/separator";
import CarbonBadge from "@/components/CarbonBadge.astro";
---


<footer
	class="flex flex-col gap-2 p-4 bg-muted rounded-t mt-8"
>
	<p>
		MIT License &copy; 2023 Roseto
	</p>
	
	<CarbonBadge />

	<div class="mt-2 flex flex-row items-center h-6 gap-4">
		<a 
			href="https://facebook.com/rosetoteam"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img 
				src="https://cdn.simpleicons.org/facebook/000000/ffffff" 
				alt="Facebook"
				class="w-6 h-6 fill-muted-foreground"
			/>
		</a>

		<Separator orientation="vertical" className="bg-muted-foreground" />

		<a 
			href="https://instagram.com/rosetoteam"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img 
				src="https://cdn.simpleicons.org/instagram/000000/ffffff" 
				alt="Instagram"
				class="w-6 h-6 fill-muted-foreground"
			/>
		</a>

		<Separator orientation="vertical" className="bg-muted-foreground" />

		<a 

			href="https://github.com/roseto"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img 
				src="https://cdn.simpleicons.org/github/000000/ffffff" 
				alt="GitHub"
				class="w-6 h-6 fill-muted-foreground"
			/>
		</a>

		<Separator orientation="vertical" className="bg-muted-foreground" />

		<a 
			href="https://opencollective.com/roseto"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img 
				src="https://cdn.simpleicons.org/opencollective/000000/ffffff" 
				alt="Open Collective"
				class="w-6 h-6 fill-muted-foreground"
			/>
		</a>
	</div>
</footer>
