---
import { ReaderIcon } from "@radix-ui/react-icons";
import { Button } from "./ui/button";

interface Props {
	path: string;
}

const { path } = Astro.props;
---

<a 
	href={"https://gread.deno.dev/" + "https://roseto.space" + path}
	target="_blank"
	rel="noopener noreferrer"
>
	<Button
		variant="outline"
	>
		<ReaderIcon className="mr-2"/>
		Read in GRead
	</Button>
</a>
