---
import ProjectList from "@/components/ProjectList.astro";
import { Container } from "@/components/ui/container";
import { Stack } from "@/components/ui/stack";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Docs">
	<Container>
		<Stack>
			<h1 class="text-5xl font-bold">Projects</h1>

			<ProjectList />
		</Stack>
	</Container>
</Layout>
