---
import ProjectList from "@/components/ProjectList.astro";
import { Container } from "@/components/ui/container";
import { Hint } from "@/components/ui/hint";
import { Stack } from "@/components/ui/stack";
import Layout from "@/layouts/Layout.astro";
---

<Layout 
	title="Projects"
	navbar={{
		buttons: [
			{
				text: "Project Specs",
				href: "https://docs.roseto.co/project-specs",
				target: "_blank"
			}
		]
	}}
>
	<Container>
		<Stack>
			<h1 class="text-5xl font-bold">Projects</h1>

			<ProjectList />

			<Hint>
				Want more projects? Well, we are probably already sketching out the next one.
			</Hint>
		</Stack>
	</Container>
</Layout>
