---
import Layout from "@/layouts/VerifyLayout.astro";
import { Button } from "@/components/ui/button";
import { Card } from "@/components/ui/card";
import { getDiplomas } from "@/lib/diplomas";
import type { Diploma } from "@/types/Diploma";
import { ArrowLeftIcon } from "@radix-ui/react-icons";

export async function getStaticPaths() {
	const diplomas = await getDiplomas();

	if (!diplomas) {
		return {
			paths: [],
			fallback: true,
		};
	}
	
	return [
		...diplomas.map((entry: Diploma) => ({
			params: {
				id: entry.id.toUpperCase(),
			},
			props: {
				diploma: entry,
			}
		}))
	];
}

const { diploma } = Astro.props;
---


<Layout>
	<Card className="p-8">
		<p class="text-muted-foreground text-sm">Diploma with id:</p>
		<h2 class="text-7xl font-bold">{diploma.id.toUpperCase()}</h2>
		<p
			class="text-2xl font-bold text-green-400"
		>
			IS VALID
		</p>
		{diploma && 
			<p>This diploma was issued for <b>{diploma.name}</b> on the project with ID <b>{diploma.projectId}</b></p>
			<a href={"/projects/" + diploma.projectId.toLowerCase()} target="_blank" class="font-bold hover:underline text-primary">You can see the project here.</a>
		}
	</Card>
	<a href="/verify">
		<Button 
			variant="outline"
			className="w-full"
		>
			<ArrowLeftIcon className="mr-2 h-4 w-4" />
			Check another diploma ID
		</Button>
	</a>
</Layout>