---
import { Button } from "@/components/ui/button";
import { Hint } from "@/components/ui/hint";
import { Input } from "@/components/ui/input";
import Layout from "@/layouts/VerifyLayout.astro";
---

<Layout>
	<form method="post" action="/verify/redirect">
		<Input
			name="id"
			type="text"
			required
			autoComplete="off"
			autoCorrect="off"
			autoFocus
			className="text-8xl !p-16 !text-center uppercase"
			pattern="[A-Za-z0-9]{3}"
			minLength={3}
			maxLength={3}
		/>
		<Hint className="mt-1">
			The ID is made up of 3 characters containing letters A to Z and numbers 1 to 9.
		</Hint>

		<Button
			className="mt-4 w-full"
			type="submit"
		>
			Check
		</Button>
	</form>
</Layout>
