---
import "@/styles/globals.css";

import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer.astro";
import { Container } from "@/components/ui/container";

interface Props {
	frontmatter?: {
		title: string;
	};
	title: string;
}

const { frontmatter, title } = Astro.props;

const isMarkdown = frontmatter !== undefined;
const pageTitle = frontmatter?.title ?? title;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<script>
			window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
		</script>
		<script defer src="/_vercel/insights/script.js"></script>
	</head>
	<body class="flex flex-col min-h-screen">
		<Navbar path={Astro.url.pathname} client:load />
		<div class="h-20" />
		<main class="flex-1">
			{isMarkdown ? (
				<Container className="prose dark:prose-invert">
					<slot/>
				</Container>
			) : (
				<slot/>
			)}
		</main>
		<Footer />
	</body>
</html>

<script>
	import { initAppCheck } from "@/lib/firebase/client";

	initAppCheck();
</script>
