---
import "@/styles/globals.css";

import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer.astro";
import { Container } from "@/components/ui/container";
import { ViewTransitions } from "astro:transitions";

interface Props {
	frontmatter?: {
		title: string;
	};
	title: string;
	navbar?: {
		buttons?: {
			text: string;
			href: string;
		}[];
	}
}

const { frontmatter, title, navbar } = Astro.props;

const isMarkdown = frontmatter !== undefined;
const pageTitle = frontmatter?.title ?? title;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="hsl(0 0% 100%)" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="hsl(0 0% 7%)" />
		<title>{pageTitle} &middot; Roseto</title>
		<ViewTransitions />
	</head>
	<body class="flex flex-col min-h-screen">
		<Navbar path={Astro.url.pathname} buttons={navbar?.buttons} />
		<div class="h-20" />
		<main class="flex-1">
			{isMarkdown ? (
				<Container className="prose dark:prose-invert">
					<slot/>
				</Container>
			) : (
				<slot/>
			)}
		</main>
		<Footer />
	</body>
</html>
