---
import "@/styles/globals.css";

import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer.astro";
import { Container } from "@/components/ui/container";
import { ViewTransitions } from "astro:transitions";

interface Props {
	frontmatter?: {
		title: string;
	};
	title: string;
	navbar?: {
		buttons?: {
			text: string;
			href: string;
			target?: string;
			"data-astro-reload"?: boolean;
		}[];
	};
	noFooter?: boolean;
}

const { frontmatter, title, navbar, noFooter } = Astro.props;

const isMarkdown = frontmatter !== undefined;
const pageTitle = frontmatter?.title ?? title;
---

<html lang="en" class="noscript">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="hsl(0 0% 100%)" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="hsl(0 0% 12%)" />
		{Astro.url.pathname === "/" ?
			<title>Roseto — Growing is a necessity, not an option.</title>
			:
			<title>{pageTitle} &middot; Roseto</title>
		}

		<meta name="title" content="Roseto — Growing is a necessity, not an option." />
		<meta name="description" content="A small collective with the objective of informing the youth and digitalize local communities." />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://roseto.co" />
		<meta property="og:title" content="Roseto — Growing is a necessity, not an option." />
		<meta property="og:description" content="A small collective with the objective of informing the youth and digitalize local communities." />
		<meta property="og:image" content="https://roseto.co/og-image.png" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://roseto.co" />
		<meta property="twitter:title" content="Roseto — Growing is a necessity, not an option." />
		<meta property="twitter:description" content="A small collective with the objective of informing the youth and digitalize local communities." />
		<meta property="twitter:image" content="https://roseto.co/og-image.png" />

		<slot name="head" />

		<ViewTransitions />
		<script is:inline>
		  document.documentElement.classList.remove("noscript");
		</script>
	</head>
	<body class="flex flex-col min-h-screen dark:bg-grid-neutral-600/[0.1] bg-grid-neutral-400/[0.1]">
		<Navbar path={Astro.url.pathname} buttons={navbar?.buttons} client:load/>
		<main class="flex-1">
			{isMarkdown ? (
				<Container className="prose dark:prose-invert">
					<slot/>
				</Container>
			) : (
				<slot/>
			)}
		</main>
		{noFooter ? null : <Footer transition:persist />}
	</body>
</html>
