---
import { Button } from "@/components/ui/button";
import { Container } from "@/components/ui/container";
import { Hint } from "@/components/ui/hint";
import { Input } from "@/components/ui/input";
import { Stack } from "@/components/ui/stack";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Verify diploma">
	<Container>
		<Stack>
			<h1
				class="text-7xl font-bold"
			>
				Verify diploma
			</h1>
			<p>Verify diplomas issued by Roseto. Diplomas issued by Roseto contain a specific code that allows them to verify their authenticity.</p>

			<slot/>
		</Stack>
	</Container>
</Layout>
