---
import { Container } from "@/components/ui/container";
import { Stack } from "@/components/ui/stack";
import { Alert, AlertTitle, AlertDescription } from "@/components/ui/alert";
import Layout from "@/layouts/Layout.astro";
import { InfoCircledIcon } from "@radix-ui/react-icons";
---

<Layout title="Verify diploma">
	<Container>
		<Stack>
			<h1
				class="text-7xl font-bold"
			>
				Verify diploma
			</h1>
			<p>Verify diplomas issued by Roseto. Diplomas issued by Roseto contain a specific code that allows them to verify their authenticity.</p>

			<Alert>
				<InfoCircledIcon />
				<AlertTitle>Diplomas are phasing out</AlertTitle>
				<AlertDescription>
					We are phasing out diploma verification on January 26th 2024. If you have a diploma that needs to be verified, please contact us.
				</AlertDescription>
			</Alert>

			<slot/>
		</Stack>
	</Container>
</Layout>
